.header-nav{
  display: flex;
  padding: 76px 123px 81px 123px;
  justify-content: space-between;


}
.header_list{
  display: flex;
}
.header-list-second{
  display: flex;
  column-gap: 55px;
  justify-content: flex-end;
}
.header-list-item{
  justify-content: space-between;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #949494;
  &.color{
    color: #FFCF7A;
  }
}
.header-list{
  display: flex;
  column-gap: 39px;
}
.header-list-img{
  font-family: 'Scania Sans CY Headline';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.105em;
  color: #FFFFFF;

}
.header-list-text{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #6D6D6D;
}





.header_phone{
  width: 50px;
  height: 50px;
  background: #ECCF94;
  border-radius: 2px;
  margin-left: 61px;
}
.phone{
 padding:15px;

}