.main-first-section-div{
  padding: 76px 123px 98px;
  display: flex;
}
.main-title{

  left: 123px;
  top: 227px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 64px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  background: linear-gradient(226.43deg, #FFFFFF 49.37%, rgba(255, 255, 255, 0) 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;




}
.main-text{

  left: 126px;
  top: 417px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #FFCF7A;


}
.main-first-section-div{
  display: flex;
}
.main-img{









}
.main-text-div{
  display: flex;






}

.main-text-div-second-text{
  position: absolute;
  font-family: 'Lab Grotesque';
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.main-text-div-first-text{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;


  text-align: center;

  color: #FFFFFF;
}
.main-second-img{
  padding-left: 40px;
  padding-bottom: 14px;
}
.main-second-title{
  top: 879px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;


  background: linear-gradient(240.22deg, #FFFFFF 31.8%, rgba(255, 255, 255, 0) 87.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;





}
.main-gradient{
 position: relative;
  width: 826px;
  height: 551px;
  margin:  110px 218px 20px 255px;


  background: #392924;
  filter: blur(150px);
  border-radius: 300px;
}
.main-second-text{

  font-family: 'Lab Grotesque';
  font-style: normal;

  font-size: 17px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;

}
.main-second-img-kamin{
  position: absolute;
  width: 1289px;
  height: 495px;
  top: 1069px;
  padding: 0 115px 75px 135px;


}
.main-end-div{
  display: flex;

  column-gap: 135px;
  padding: 0 228px 0 246px;


}
.main-end-text {
  width: 179px;

  left: 278px;
  top: 1567px;
  font-family: 'Lab Grotesque';

  font-weight: 330;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;

}
.main-end-list{
  display: flex;
  column-gap: 16px;
  width: 306px;
  height: 75px;
  align-items: center;
}
.main-end-img{
  width:35.29px;
  height :46px;
}
.main-third{
  display: flex;
  position: relative;
  padding: 0 0 0 206px;
}
.main-third-title{
  padding: 224px 275px 23px 0;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: linear-gradient(233.62deg, #FFFFFF 28.79%, rgba(255, 255, 255, 0) 98.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}
.main-third-text{

  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;

  color: #FFFFFF;


}
.main-third-img{
  position: relative;
  padding-top: 15px;
}
.first-circle{
  position: absolute;
  width: 151px;
  height: 151px;
  left: 1270px;
  top: 290px;
  border-radius: 50%;
  background: radial-gradient(100% 65.98% at 100% 73.18%, #FFFFFF 0.31%, #FFE2A4 59.23%, #FFD47C 100%);
}
.main-third-circle-title{
  font-family: 'Scania Sans CY';
  padding: 30px 0 10px 0;
  text-align: center;
  font-style: normal;
  font-size: 28px;
  line-height: 20px;
  text-align: center;


}
.main-third--circle-text{

  font-family: 'Scania Sans CY';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #000000;


}
.main-third-gradient{
  position: absolute;
  width: 335.98px;
  height: 421px;
  left: 1100px;
  top: 160px;

  background: rgba(175, 152, 112, 0.34);
  filter: blur(75px);
  border-radius: 300px;
  transform: matrix(0.92, 0.39, 0.39, -0.92, 0, 0);
}
.second-circle{

  position: absolute;
  width: 98px;
  height: 98px;
  left: 999px;
  top: 445px;
  border-radius: 50%;
  border: 1px solid #FFCF7A;
  filter: drop-shadow(0px 4px 23px #FFE2A4);
}
.third-circle{
  position: absolute;
  width: 194px;
  height: 194px;
  left: 1075px;
  top: 510px;
  border-radius: 50%;

  border: 2px solid #FFCF7A;
  filter: drop-shadow(0px 8px 35px #FFE2A4);
}
.main-four-gradient{
  position: absolute;
  width: 163.39px;
  height: 198.72px;
  left: 1180px;
  top: 250px;

  background: rgba(255, 207, 122, 0.72);
  filter: blur(75px);
  border-radius: 300px;
  transform: matrix(-0.94, 0.35, 0.35, 0.94, 0, 0);
}
.third-section-absolute{
  bottom: 220px;
  left: 800px;
  position: absolute;


}
.third-section-absolute-text{
  padding-top: 19px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;


}
.main-four-section-title{
  text-align: center;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(247.29deg, #FFFFFF 35.25%, rgba(255, 255, 255, 0) 104.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-four-section-text{
  padding-top: 32px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #fff;

}

.main-five-section-div{
  padding:  87px 113px  22px 113px;
  display: flex;
  column-gap: 84px;

}

.first-part-title{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.first-part-text{
  padding: 25px 0 20px 0;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}



.first-part-second-title{
  padding: 26px 0  10px 0;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #757575;
}

.first-part-first-div{
  padding-top: 10px;
  display: flex;
  column-gap:94px ;
}
.first-part-list{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}
.second-div-title{
  padding: 60px 0  20px 0;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #757575;


}










.first-part-second-div{
  display: flex;
  padding: 27px 0 22px 0;
 justify-content: space-between;

}


.second-div-list{
  padding-bottom: 5px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}








.main-six-section-title{
  padding: 130px 0 45px 0;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(249.07deg, #FFFFFF 36.17%, rgba(255, 255, 255, 0) 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}
.black{
  width: 100%;
  display: grid;
  gap : 42px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 123px 0 143px;

}
.black-list{
  width: 100%;
  height: 267px;
  background-color: #000;
  border-radius: 2px;

}





.black-title{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 65px;
  padding: 90px 0 50px 0;

  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: linear-gradient(239.18deg, #FFFFFF 25.25%, rgba(255, 255, 255, 0.07) 95.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}
 .main-seven-section-container{
   padding: 94px 0 67px 0;
 }

.seven-section-first-div{
  display: flex;
  justify-content: space-between;
  padding: 67px 143px 100px 123px;
}

.seven-section-title{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: linear-gradient(235.41deg, #FFFFFF 28.47%, rgba(255, 255, 255, 0.18) 91.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}
.seven-section-div{
  display: flex;
  column-gap: 191px;
  padding-top: 68px;

}
.seven-section-list{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 55px;
  letter-spacing: 0.135em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.seven-section-number{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  color: #FFFFFF;


}
.seven-section-img{
  padding-top: 10px;
}


.first-six-div{
  padding: 113px 143px 45px 123px;
}
.first-six-first-divs{
  display: flex;
  justify-content: space-between;
}

.first-six-title{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;



}


.first-six-text{
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 24px 0 37px 0;


}





.first-six-second-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.first-six-second-div-title{
  padding: 106px 0 35px 0;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;


}
.first-six-div-button{

  width: 284px;
  height: 60px;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #121212;
  background: #ECCF94;
  border-radius: 1px;

}




























.main-five-section-title{

  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;



}
.main-five-section-text{
  padding:25px 0  50px 0 ;
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}





















